.LevelUp {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  text-align: center;
  padding: 1rem 3rem;
  color: darken(grey, 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 3rem;
  }
}
