.CharacterBio {
  margin: 0 0 1rem;
  padding: 0 0 1.5rem;
  color: darken(grey, 10%);
  display: flex;
  border-radius: 2px;

  figure {
    width: 30%;
    height: fit-content;
    margin-right: 3rem;
    position: relative;

    img {
      max-width: 100%;
      display: block;
    }
  }

  div {
    width: 70%;
    h2 {
      margin-bottom: 0.5rem;
    }

    h4 {
      margin-bottom: 1rem;
    }

    p {
      letter-spacing: 0.1rem;
      line-height: 150%;
    }
  }
}
