.Header {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.SideNav {
  position: fixed;
  padding: 1rem 1rem 1rem 0;

  overflow-y: scroll;

  nav {
    margin-top: 2rem;
  }

  h2 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  li {
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0 0 0 0.5rem;
    transition: all 0.2s ease-in-out;

    a {
      color: grey;
      width: 100%;
      height: 100%;

      display: block;
    }

    &:hover {
      margin-left: 1rem;

      a {
        color: black;
      }
    }
  }

  @media (max-width: 768px) {
    position: initial;
  }
}
