.BannerImage {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid grey;
  margin-bottom: 2rem;

  @media (max-width: 760px) {
    height: 150px;
    margin-top: 1rem;
  }
}
