.ChapterTitle {
  border-bottom: 2px solid lightgrey;
  color: grey;
  margin: 0 0 2rem;
  padding: 0 0 0.5rem 0;

  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
