$color--new: rgb(125, 183, 202);
$color--update: pink;
$color--complete: #47b367cb;

.Quest {
  margin: 3rem 0;
  display: flex;
  color: grey;
  font-weight: bold;
  align-items: center;
  border: 3px solid;
  font-size: 1.5rem;
  font-weight: bold;

  div {
    text-align: center;
  }
}

.QuestTypeContainer,
.QuestNameContainer {
  flex-basis: 0;
  padding: 1rem 0;
}

.QuestTypeContainer {
  flex-grow: 1.5;
  border-right: 3px solid;
}

.QuestNameContainer {
  flex-grow: 3;
}

.New {
  border-color: $color--new;

  .QuestTypeContainer {
    border-right-color: $color--new;
    background-color: lighten($color--new, 20%);
  }
}

.Update {
  border-color: $color--update;

  .QuestTypeContainer {
    border-right-color: $color--update;
    background-color: lighten($color--update, 8%);
  }
}

.Complete {
  border-color: $color--complete;

  .QuestTypeContainer {
    border-right-color: $color--complete;
    background-color: lighten($color--complete, 20%);
  }
}
